/**
 * I'm just using the Solarized Dark colorscheme for now.
 * See https://ethanschoonover.com/solarized/ for guidelines.
 */

@value c-base03:  #002b36;
@value c-base02:  #073642;
@value c-base01:  #586e75;
@value c-base00:  #657b83;
@value c-base0:   #839496;
@value c-base1:   #93a1a1;
@value c-base2:   #eee8d5;
@value c-base3:   #fdf6e3;
@value c-yellow:  #b58900;
@value c-orange:  #cb4b16;
@value c-red:     #dc322f;
@value c-magenta: #d33682;
@value c-violet:  #6c71c4;
@value c-blue:    #268bd2;
@value c-cyan:    #2aa198;
@value c-green:   #859900;

.normal-text-bg-colors {
  color: c-base0;
  background-color: c-base03;
}

.emphasized-text-bg-colors {
  color: c-base1;
  background-color: c-base02;
}
