@value c-base03, c-base0 from "./colors.css";

* {
  box-sizing: border-box;
}

html, body, :global(#app) {
  height: 100vh;
  width: 100vw;
}

html {
  background-color: c-base03;
  color: c-base0;
}

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  margin: 0px;
}

:global #app {
  min-width: 100%;
  margin: auto;
}

:global .hide-cursor {
  cursor: none;
}
